extends templates/template 
block append config
  - actual_page = `Editando ${prod.title}`;
block header
block main
  .flex-container
    div.editContainer
      form(action="", method="post", enctype="multipart/form-data")
        div
          input(type="text", name="title", placeholder="Inserte un titulo", class="editInput",required, value=`${prod.title}`)
        div
          input(type="text", name="title", placeholder="Inserte un titulo", class="editInput",required, value=`${prod.price}`)
        div
          textarea(name="description", cols="40", rows="8", placeholder="Inserte descripcion", class="editTextarea", required) #{prod.description}
        div
          input(type="file" id="file")
          label(for="file") choose a file
        div
          img(src=`${prod.imageUrl}` class="imgPriview" alt="")
        button(type="submit", class="editBtn") Guardar
  script(src='/js/javascript.js')