extends templates/template 
block append config
 - actual_page = "Productos";
block header
block main
  div.flex-container
    div.editContainer
      form(action="/add", method="post", enctype="multipart/form-data")
        div
          input(type="text", name="title", placeholder="Inserte un titulo", class="editInput",required)
        div
          input(type="text", name="price", placeholder="Inserte un precio", class="editInput",required)
        div
          textarea(name="description", cols="40", rows="8", placeholder="Inserte una descripcion", class="editTextarea", required)
        div
          input(type="file" id="file" name="image")
          label(for="file") Selecciona una imagen 
        div
          img(src="http://placehold.it/250", class="imgPriview" alt="")
        button(type="submit", class="editBtn") Guardar
    div
      table
        caption Lista de productos
        thead
          tr
            th(scope='col') ID
            th(scope='col') Título
            th(scope='col') Precio
            th(scope='col') Operación
        tbody
        each prod in prods
          tr
            td(data-label='ID') #{prod.id}
            td(data-label='Título') #{prod.title}
            td(data-label='Precio') $#{prod.price}
            td(data-label='Operación')
              a(href=`/edit/${prod.id}`, class="btnOpe") Edit
              a(href=`/delete/${prod.id}`, class="btnOpe") Delete
              if(prod.state)
                a(href=`/enable/${prod.id}`, class="btnOpe") Deshabilitar
              else
                a(href=`/enable/${prod.id}`, class="btnOpe") Habilitar
                
  script(src='/js/javascript.js')